<ion-view>
<ion-content  class="form-bg">
	<div>
		<div class="form-logo padding">
	      <img src="img/todo list.png" width="100" height="100" class="col-offset-33">
	    </div>
	    <form class="title padding">
	    <h3>LogIn</h3>
	      <div class="list">
	        <label class="item-input col">
	          <input type="email" ng-model="loginData.email" name="email" placeholder="Mail" >
	        </label>
	        <label class="item-input col">
	          <input type="password" ng-model="loginData.password" name="password" placeholder="Password" >
	        </label>
	          <button class="button button-full  button-balanced" ng-click="login(loginData)">LogIn</button>
	          <a href="#/signup"><button class="button button-full  button-danger" ng-click="">SignUp</button></a>
	      </div>
	    </form>
    </div>
</ion-content>
</ion-view>